.foot {
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
}

.footer-header {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 2rem 5%;
  background: #fff;
}

.fh-head {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
}

.fh-container {
  display: grid;
  padding: 0 1rem;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  width: 100%;
  align-items: start;
}

.fhc-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 1rem;
  align-items: center;
}

.fhcc-icon {
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
  color: #830a0e;
}

.fhcc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.fhcc-content h3 {
  font-size: 1rem;
  font-weight: 500;
}

.fhcc-content span {
  font-size: 0.9rem;
}

.footer-foot {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 2rem;
  background: #830a0e;
  color: #fff;
}

.ff {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  width: 100%;
}

.ff-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  align-items: start;
  width: 80%;
}

.ffc-card {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  gap: 10px;
  width: 100%;
}

.ffcc-head {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}

.ffcc-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.ffccc-content {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.ffccc-content a {
  text-decoration: none;
  color: #ccc;
}

.ffccc-content a:hover {
  text-decoration: underline;
}

.ff-review {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  width: 20%;
  color: #fff;
}

.ff-review a {
  text-decoration: none;
}

.ffrc {
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
  color: #fff;
}

.ffrc i {
  font-size: 0.8rem;
  color: #ec2127;
}

#review-trustpilot {
  flex-wrap: wrap;
  gap: 2px;
}

.add-icon {
  display: none;
}

.footer-trustpolio {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
}

.ft-header {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.fth-normal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.fthn {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
}

.fthn a{
    text-decoration: none;
}

.fthn a:hover{
    text-decoration: underline;
}

.fthn img {
  width: 50px;
  height: 30px;
}

.fth-checkout {
  display: none;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.fth-checkout a {
  text-decoration: none;
  color: #999;
  display: flex;
  gap: 10px;
}

.fthc {
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
  color: #999;
  font-weight: 600;
}

.fthc i {
  font-size: 0.8rem;
  color: #ec2127;
}

.ft-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  padding-bottom: 1rem;
}

.ftf-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.footer-logo a {
  text-decoration: none;
}

.footer-logo img {
  width: 70px;
}

.footer-logo span {
  font-size: 1rem;
  color: #424242;
}

.footer-web {
  font-size: 0.9rem;
  color: #999;
}

.ftf-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9rem;
}

.ftf-content a{
    text-decoration: none;
    color: #999;
}

.ftf-content a:hover{
    text-decoration: underline;
}

@media (max-width: 900px){
    .ft-foot {
        flex-direction: column;
        gap: 10px;
        align-items: normal;
      }
}

@media (max-width: 800px) {
  .ff-container {
    width: 100%;
  }

  .ff-review {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .ff {
    flex-direction: column;
    gap: 1rem;
  }

  .ff-review a {
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 680px) {
  .ff-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 10%;
    gap: 1rem;
  }

  .add-icon {
    display: flex;
  }

  .ffcc-container {
    padding: 1rem;
    border-top: 2px solid #999;
  }

  .ffcc-head {
    cursor: pointer;
  }

  .ffc-card {
    padding: 1rem 0;
    border-bottom: 1px solid #ebebebde;
    gap: 0;
  }

  .fh-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .fhc-content {
    flex-direction: row;
    width: 100%;
  }

  .fhcc-content {
    align-items: flex-start;
  }
}

@media (max-width: 500px) {
  .ff-review a {
    flex-direction: column;
    gap: 5px;
  }

  .ffrc {
    justify-content: center;
    align-items: center;
  }

  #review-trustpilot-checkout {
    display: none;
  }

  .fth-checkout {
    justify-content: center;
  }

  .ftf-logo{
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    margin: 0 5%;
  }

  .ftf-container{
    justify-content: center;
  }
}
